

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    max-width: 100%;
    position: relative;
    min-height: 100vh;


}

main {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 3rem;
    padding-bottom: 5rem;
}


#main-header {
    display: none;
    width: 100%;
    padding: 0.5rem;
    position:relative;

}

#header-container {
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-text {
    visibility: hidden;
    margin: 0.5rem auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

#color-theme-choice {
    display: none;
    padding-right: 1rem;
}


#div-intro, #show-content {
    padding: 2rem;

  
}

#div-intro {
    margin-bottom: 2rem;
    
}

#show-content {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem; 
    padding:0 2rem;

}

button {
    margin: 1rem 1rem;
    padding: 0.5rem 1rem;

}

select {
    padding: 0.5rem 1rem;
    padding-right: 2rem;
    text-align: start;
}

/*=======================
        AESTHETICS
=========================*/

body {
    background-color: white;
}


main {
    /* border-left: 1px solid #333;
    border-right: 1px solid #333; */

    box-shadow: 8px 0 8px -4px rgba(182, 182, 182, 0.8), -8px 0 8px -4pxrgba(182, 182, 182, 0.8);
}


#main-header, #select-color, footer {
    background-color: #EEFF2A;
}


#select-user, input, #select-color option {
    background-color: #ADAC9A;
}


#div-intro, #show-content {
    background-color:#484838;
}

#main-header {
    box-shadow: 0px 3px 8px rgba(182, 182, 182, 0.8);
}

button, select, input, {
    border-radius: 5px;
}

select, input {
    border: 0;
}


button {
    background-color: transparent;
    border: 0;

}

button:hover {
    border-bottom: 4px solid white;
    margin-bottom: 4px;
}


#div-intro, #show-content {
    border-radius: 10px;
}




/*======================
        TYPOGRAPHY
======================*/

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body, button {
    color: white;
}


#happybd-h1, #color-theme-choice, footer p {
    color: black;
}

footer, h1 {
    font-weight: bold;
}

h1 {
    font-size: 3rem;
}

footer {
    text-align: end;
}