body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 15vh;

    margin-bottom: 2rem;

    display: flex;
    align-content: center;
    justify-content: center;
}

#header-text {
    width: 50%;

    margin: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-intro, #show-content {
    margin: 3rem;
    padding: 2rem;

    width: 40vw;
  
}

#div-intro {
    height: 15vh;
    

    display: flex;
    justify-content: space-evenly;
    align-content: baseline;
}

#show-content {
    height: 40vh;
}

/*=======================
        AESTHETICS
=========================*/

body, #select-user, #select-color {
    background-color: #9FAFA1;
}

header, #div-intro, #show-content {
    background-color:#3C4A3E;
}

#div-intro, #show-content {
    border-radius: 10px;
}


/*======================
        TYPOGRAPHY
======================*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}