body {
    margin: 0;
}

* {
    box-sizing: border-box;
    /* outline: 1px red solid; */
}

#main-header {
    width: 100%;
    height: 25vh;

    margin-bottom: 2rem;

    display: flex;
    align-content: baseline;
    justify-content: center;
}

#header-text {
    width: 50%;

    display: none;


}

#color-theme-choice {
    margin-right: -15rem;
    margin-left: 20rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-intro, #show-content {
    margin: 3rem;
    padding: 2rem;

    width: 40vw;
  
}

#div-intro {
    height: 15vh;
    

    display: flex;
    justify-content: space-evenly;
    align-content: baseline;
}

#show-content {

}

/*=======================
        AESTHETICS
=========================*/

body, #select-user, #select-color {
    background-color: #ADAC9A;
}

#main-header {
    background-color: #EEFF2A;
}
#div-intro, #show-content {
    background-color:#484838;
}

#div-intro, #show-content {
    border-radius: 10px;
}


/*======================
        TYPOGRAPHY
======================*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

#happybd-h1, #color-theme-choice {
    color: black;
}